:root {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: plum;
  font-family: "Montserrat";
}

main {
  width: calc(100% - 4rem);
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  border: .25rem solid black;
}

nav {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

h2 {
  font-weight: bold;
  font-size: 1.25em;
}

p {
  max-width: 598px;
  margin: 0 auto 1rem;
  line-height: 1.5;
}

@media screen and (max-width: 700px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}